.accountMenu {
    position: absolute !important;
    right: 0;
    color: inherit !important;
}

.btnPadding {
    padding: 6px 8px !important;
    &.loggedInBtn {
        background-color: forestgreen;
    }
}
