.tabsPanel {
    border: 1px solid #ffffff24;
    border-top: solid 1px white;
    border-radius: 10px !important;
    background-color: #0000001c !important;
    a {
        color: #00e8c4ed;
        :visited {
            color: #d300ff;
        }
    }
    .actor {
        display: inline-block;
        padding: 0px 3px;
    }
    .ratingsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ratingsText {
        padding: 5px;
    }
    .downloadSitesLinks {
        padding: 4px;
        font-size: 13px;
    }
}
