#movieAddModalCloseBtn {
    position: absolute;
    right: 0;
    top: 0;
}

#movieAddModalForm {
    display: contents;
}

#movieAddModalSearchBtn {
    margin-top: 10px;
}

#movieNameHeb {
    direction: rtl;
}