#movieAddModalTitle {
    padding: 24px 45px 20px 24px;
}

.modalCloseBtn {
    position: absolute !important;
    right: 0;
    top: 0;
}

#movieAddModalForm {
    display: contents;
}

.movieAddModalBtn {
    margin: 10px 10px 0px 0px !important;
    padding: 4px 7px 4px 5px !important;
}

#movieAddModalAddBtn {
    padding: 5px 7px !important;
}

#movieNameHeb {
    direction: rtl;
}