.DialogContentYoutubeDivWrapper {
    position: relative;
    padding-bottom: 55.25%;
    height: 0;
}

.DialogContentYoutubeDivWrapper iframe {
    position: absolute;
}

.DialogTitleDiv {
    display: grid;
}