.ratingsText {
    margin: 0 auto !important;
    padding: 5px;
}

.downloadSitesLinks {
    margin: 0 auto;
    padding: 4px;
}

.actorsList {
    display: inline-block;
    padding: 0px 3px;
}

.tabsPanel {
    border-Top: solid 1px dodgerblue;
    border-radius: 10px !important;
}

.tabsPanel::before {
    height: 0px !important;
}