.DialogTitleDiv {
    display: flex;
    margin: auto;
    color: black;
}

.DialogTitleDiv div {
    padding: 12px 45px;
    flex: unset;
}

.DialogContentYoutubeDivWrapper {
    position: relative;
    padding-bottom: 55.25%;
}

.DialogContentYoutubeDivWrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#TrailerModalActions {
    margin: 4px;
    color: black;
}

#TrailerModalActions p {
    margin: 2px auto 0px 8px;
}

#TrailerModalActions button {
    margin: 0;
    padding: 1px 0 0 0;
}