.DialogTitleDiv {
    display: flex;
    margin: auto;
    color: black;
}

.DialogTitleDiv button {
    position: absolute;
    right: 0;
}

.DialogContentYoutubeDivWrapper {
    position: relative;
    padding-bottom: 55.25%;
}

.DialogContentYoutubeDivWrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#TrailerModalActions {
    margin: 10px;
    color: black;
}

#TrailerModalActions span {
    margin: 0 auto 0 10px;
}

#TrailerModalActions button {
    float: right;
    padding: 1px 0 0 0;
}