#headerLogo {
    max-width: 100%;
}

#scrollToMenu {
    position: fixed;
    left: calc(50% - 20px);
    bottom: 30px;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.35s;
    &.show {
        opacity: 1;
        pointer-events: initial;
        z-index: 10;
    }
}

#moviesCounter {
    position: absolute;
    top: 10px;
    left: 0;
}
