#headerLogo {
    max-width: 100%;
}

#scrollToMenu {
    position: sticky;
    bottom: 15px;
    background-color: black;
    z-index: 10;
}

#moviesCounter {
    position: absolute;
    top: 10px;
    left: 0;
}
