.MoviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.informationH3 {
    margin: 20px auto 5px auto;
}

.informationH4 {
    margin: 0px auto;
}

.freeSearch div, .freeSearch input, .freeSearch svg {
    color: white !important;
}

.freeSearch div::before, .freeSearch div:hover {
    border-bottom-color: inherit !important;
}

#addMovieBtn {
    margin: 4px auto;
}