.MoviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.noResultsH3 {
    margin: 20px auto 5px auto;
}

.noResultsH4 {
    margin: 0px auto;
}

#MoviesCounterBadges {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px 4px;
}