.MoviesGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

@media only screen and (max-width: 700px) {
    #accountMenu #loggedInName {
        display: none;
    }
}

#accountMenu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    color: inherit;
}

#loggedInBtn {
    color: white;
    background-color: forestgreen;
}

#scrollToMenu {
    position: sticky;
    margin: 15px auto;
    bottom: 15px;
    right: 0;
    left: 0;
    background-color: black;
}

.btnPadding {
    padding: 6px 8px !important;
}

.noResultsH3 {
    margin: 20px auto 5px auto;
}

.noResultsH4 {
    margin: 0px auto;
}