#moviesSearchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 7px auto;
    padding: unset;
    list-style: none;
}

.movieElem {
    width: 30%;
    min-width: 250px;
    min-height: 350px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px black;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
}

.movieElem img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    filter: brightness(0.75);
    -webkit-filter: brightness(0.75);
}

.movieElem #youTubeIcon {
    position: absolute;
    right: 0;
    max-width: 15%;
    height: auto;
    filter: drop-shadow(0px 0px 1px black);
    -webkit-filter: drop-shadow(0px 0px 1px black);
}

.movieElem:hover, .movieElem #youTubeIcon:hover {
    opacity: 0.9;
}

@media only screen and (max-width: 992px) {
    .movieElem {
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    .movieElem {
        width: 100%;
    }
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    min-height: 50%;
    left: 10%;
    top: 25%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}

.overlayBlack {
    color: black;
    border-color: black;
}

.overlay h3, .overlay h2 {
    margin: 5px auto;
}

.chosenMovie {
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 4px #0e388d;
}