.movieCard {
    max-width: 350px;
    margin: 20px 20px;
    /* background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%); */
}

/* .MuiCardContent-root-37 {
    background: linear-gradient(to bottom, #2196F3 30%, #21CBF3 90%);
} */

.movieCardContentImgDiv {
    height: 600px;
    display: flex;
    align-items: center;
    background: radial-gradient(ellipse at center, #21CBF3 10%, #2196F3 80%);
    border-radius: 0px 0px 15px 15px;
    /* border-bottom: solid 1px white; */
}

.movieCardContentImgDiv img {
    width: 100%;
}

.movieCardContentTextDiv {
    height: 170px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: radial-gradient(ellipse at center, #21CBF3 10%, #2196F3 80%);
    border-radius: 15px 15px 15px 15px;
}

.movieCardContentTextDiv p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}

.movieCardContentTextDiv span {
    display: inline-block;
}