.movieCard {
    max-width: 300px;
    margin: 20px 20px;
    /* background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%); */
}

/* .MuiCardContent-root-37 {
    background: linear-gradient(to bottom, #2196F3 30%, #21CBF3 90%);
} */

.movieCardContentImgDiv {
    height: 500px;
    display: flex;
    align-items: center;
    background: radial-gradient(ellipse at center, #21CBF3 10%, #2196F3 80%);
    border-radius: 0px 0px 15px 15px;
    /* border-bottom: solid 1px white; */
}

#movieCardContentYouTubeImg {
        position: absolute;
        top: 490px;
        left: 135px;
        max-width: 10%;
}

#movieCardContentImgDivPoster {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.movieCardContentTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 207px;
    padding: 8px 5px;
    background: radial-gradient(ellipse at center, #21CBF3 10%, #2196F3 80%);
    border-radius: 15px;
}

.movieCardContentTextDiv div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: auto;
}

.movieCardContentTextDiv p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 0;
}

.movieCardContentTextDiv span {
    display: inline-block;
}

.movieCardContentImgDivError {
    width: 100%;
}

.MuiExpansionPanel-root-216:before { /* Hide horizontal gray line */
    height: 0px !important;
}