.movieCard {
    /* min-width: 300px;  */
    max-width: 300px;
    margin: 20px 10px;
    /* flex-grow: 1; */
}

.MuiCardContent-root-37 {
    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
}