.Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: initial;
}

.MenuElement {
    margin: 10px 8px !important;
}

#menuAddMovie {
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {
    #accountMenu #loggedInName {
        display: none;
    }
}

#accountMenu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    color: inherit;
}

#loggedInBtn {
    color: white;
    background-color: forestgreen;
}

#scrollToMenu {
    position: sticky;
    margin: 15px auto;
    bottom: 15px;
    right: 0;
    left: 0;
    background-color: black;
}

.btnPadding {
    padding: 6px 8px !important;
}

#applyFiltersBtn {
    padding: 5px 7px !important;
}

.freeSearch {
    margin-top: 10px !important;
}

.freeSearch div::before, .freeSearch div:hover {
    border-bottom-color: inherit !important;
}