.Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: initial;
}

.MenuElement {
    margin: 10px 8px !important;
}

.MenuElement label {
    color: inherit;
}

.MenuElement div {
    color: inherit;
}

.MenuElement fieldset {
    border-color: #ffffffbf !important;
}

.MenuElement fieldset:hover {
    border-color: white !important;
}

#menuAddMovie {
    margin-top: 10px;
}

#showWatchedMoviesSwitch {
    color: inherit;
    max-width: 100px;
    border: 1px solid #ffffffbf;
    border-radius: 4px;
    transition: border-color 0.2s ease-out;
}

#showWatchedMoviesSwitch button {
    padding: 3px 11px 3px 7px;
}