.Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: initial;
}

.MenuElement {
    margin: 10px 8px !important;
}

#menuAddMovie {
    margin-top: 10px;
}

#showWatchedMovies {
    max-width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    transition: border-color 0.2s ease-out;
}

#showWatchedMovies:hover {
    border-color: rgba(0, 0, 0, 0.87);
}

#showWatchedMovies button {
    padding: 3px 0 3px 7px;
}